* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
}
div,
.randomWord,
.points {
  width: 100%;
}

div > span {
  display: inline-block;
  padding: 10px;
}
.points {
  padding: 15px;
}

.greetings {
  font-size: 20px;
}

span {
  font-size: 35px;
}

img {
  width: 200px;
  height: auto;
}
.red {
  color: #ff0000;
}
.green {
  color: greenyellow;
}

.letters {
  height: 50px;
  font-size: 25px;
}
.answer {
  height: 50px;
}

button {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px 20px;
  background-color: #fff;
  border: 0;
  color: #000;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
.showBtn {
  display: block;
}
