* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
p,
.randomWord,
.points {
  width: 33%;
}

div > span {
  display: inline-block;
  padding: 10px;
}
*/ .points {
  padding: 15px;
}
